<table>
  <tr>
    <b>
      <td>name</td>
      <td>timezone</td>
      <td>on a weekend?</td>
    </b>
  </tr>
  <% @reservations.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.tour_date.in_time_zone('Pacific Time (US & Canada)') %></td>
      <td><%= r.tour_date.wday == 0 || r.tour_date.wday == 6 %></td>
    </tr>
  <% end %>
</table>
